/test/
/*.epub
.vscode
.python-version
cover.jpg
__pycache__
*.pickle
.pytest_cache
/*.egg-info
/build
/dist
*.pyc
/*.html
/*.jpg
/*.json
.DS_Store
.venv
.ruff_cache

pytest.ini
/test_output
/test_input
/output_*