name: publish

on:
    push:
        tags:
            - v*

jobs:
    publish:
        runs-on: ubuntu-20.04
        permissions:
            id-token: write
        steps:
            - name: Checkout sources
              uses: actions/checkout@v4

            - name: Install uv
              uses: astral-sh/setup-uv@v5
              with:
                  enable-cache: true

            - name: Install the project
              run: |
                  uv sync --locked

            - name: Update version in __init__ from pyproject
              run: |
                  bash scripts_build/update_init_version.sh

            - name: Minimal test (loading of deps)
              run: |
                  uv run jncep --help

            - name: Build pip package
              run: |
                  uv build

            - name: Publish package to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
